footer {
    width: auto;
    height: 68px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.dock-container {
    padding: 0 3px 3px 3px;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.dock-container .li-bin {
    width: 57px;
    margin: 0 2px 0 10px;
    padding-left: 7px;
    border-left: 1.5px solid rgba(255, 255, 255, 0.4);
}

.dock-container .li-1::after {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    bottom: 2px;
    backdrop-filter: blur(13px);
    visibility: visible;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    vertical-align: bottom;
    transform-origin: 50% 100%;
}

li .name {
    position: absolute;
    top: -43px;
    background: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.9);
    height: 25px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    visibility: hidden;
    font-size: 14px;
}

li .name::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(13px);
}

li:hover .name {
    visibility: visible;
}

.ico {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: 0.2s;
}

.li-bin .ico {
    object-fit: contain;
    width: 47px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}


/* selection menu - bin */

.menu-bin {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -55px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(13px);
    visibility: hidden;
}

.menu-bin::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 35%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(13px);
}

.menu-bin p {
    width: 100%;
    font-size: 14px;
    align-self: flex-start;
    padding-left: 5px;
    border-radius: 4px;
}

.menu-bin p:first-child {
    margin-bottom: 5px;
}

.menu-bin p:last-child {
    margin-top: 5px;
}

.menu-bin p:hover {
    background-color: rgb(0, 94, 172);
    color: white;
}

.menu-bin hr {
    width: 90%;
    height: 1px;
    border: none;
    background-color: rgba(70, 70, 70, 0.3);
}