nav {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

nav li {
    height: 100%;
    display: grid;
    place-items: center;
}

nav li:active:not(nav ul:first-child li:first-child) {
    background-color: rgba(0, 0, 0, 0.2);
}

nav ul:first-child {
    width: 400px;
    margin-left: 1.5%;
}

nav ul:first-child li:not(nav ul:first-child li:first-child, nav ul:first-child li:nth-child(2)) {
    width: 80px;
}

nav ul:first-child li:nth-child(2) {
    width: 95px;
}

nav ul:first-child li:first-child {
    width: 30px;
}

nav ul:last-child {
    width: 300px;
    margin-right: .5%;
}

nav ul:last-child li:not(nav ul:last-child li:last-child) {
    width: 40px;
}

nav ul:last-child li:last-child {
    width: 160px;
    justify-content: start;
    margin-left: 5%;
}